.App {
  text-align: center;
}

body{
  background:linear-gradient(rgb(11, 11, 96),violet,black);
  font-family:'Poppins' , sans-serif;
}

.container{
  background-color: white;
  padding:20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin:100px;
  position:center;
  height:500px;

}
.btn1{

  background-color: green;
 width:150px;
  height:50px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  color: white;
  
}
.btn1.hover{

  background-color:red;
}
h2{
  color:black;
  font-weight: 150px;
  font-size: 30px;
  background-color: aqua;
  height:20px;
  padding:20px;
}


